<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.texnoprom.mdam">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BTActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.BTDevicesActivity"
            android:label="Выберите устройство" />

        <service
            android:name=".services.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".activities.DevicesActivity"
            android:label="Выберите тип устройства"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AdministrationActivity"
            android:label="Добавление пользователей"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.TCPActivity"
            android:label="@string/title_activity_mmpr"
            android:parentActivityName=".activities.DevicesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.texnoprom.mdam.activities.DevicesActivity" />
        </activity>
        <activity
            android:name=".activities.TCPSettingsActivity"
            android:label="Параметры подключения"
            android:parentActivityName=".activities.TCPActivity">
            >
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Главное меню"
            android:parentActivityName=".activities.LoginActivity"
            >
        </activity>
        <activity
            android:name=".activities.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            >

        </activity>
    </application>

</manifest>